services:
  db:
    container_name: pgroll
    image: postgres:16.2-bookworm
    environment:
      POSTGRES_DB: pgroll
      POSTGRES_USER: pgrolluser
      POSTGRES_PASSWORD: pgrollpassword
      PGDATA: /data/postgres
    volumes:
      - ./data/db:/data/postgres
    ports:
      - 5432:5432
